.panel.panel-default
  .panel-heading
    %h3.panel-title
      Balance table
  %table.table.table-hover
    %tr
      %th Name
      %th.text-right Balance
    - @balances.each do |balance|
      %tr
        %td= balance[:name]
        %td.text-right{class: balance[:balance] < 0 ? 'text-danger' : 'text-success'}
          = (balance[:balance] / 100.0).to_s + ' €'
