.panel.panel-default
  .panel-heading
    %h3.panel-title
      - if current_group.balance_table_link.empty?
        Balance table
      - else
        = link_to 'Balance table', current_group.balance_table_link, target: '_blank'
  %table.table.table-hover#balance-table
    %tr
      %td.text-center
        Loading...
