.panel.panel-default
  .panel-heading
    %h3.panel-title
      Last 3 days
  %table.table.table-hover
    - @last_3_days.each do |day|
      %tr
        %td.text-left
          = day[:restaurant]
        %td.text-right
          = day[:date].strftime("%e.%-m.%Y")
        
