%table.table.table-hover
  %tr
    %th
      Name
    %th.text-right
      Default price
    %th.text-right
      Actions
      = link_to restaurants_path, class: 'refresh_all_menus', title: 'Refresh all' do
        %i.fa.fa-refresh
  = render @restaurants
- if current_user.admin?
  = link_to 'Add', new_restaurant_path, class: 'btn btn-success'
