@import "bootstrap-sprockets";
@import "bootstrap";
@import "restaurants";

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.table-fixed-height {
  min-height: 200px;
  max-height: 200px;
  overflow-y: scroll;
}