@import "bootstrap-sprockets";
@import "bootstrap";
@import "restaurants";

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.fixed-height {
  min-height: 200px;
  max-height: 200px;
  overflow-y: scroll;

  .table {
    tr:first-child {
      td {
        border-top: none;
      }
    }
  }
}

a.collapse-link {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.panel-heading a.collapse-link:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    color: grey;
}
.panel-heading a.collapse-link.collapsed:after {
    content:"\e080";
}
